<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="With years of experience in revamping residential and commercial properties,
	    QUICK-ELEC are electrical contractors based in Warrington covering a wide range of domestic and commercial electrical services in the North West (covering Warrington, Widnes, Runcorn,  Alderley Edge, Leigh and Wigan), all at very competitive prices.
		We specialise in domestic rewires as we have fully qualified rewire teams who complete work only to the highest standard.
		We understand what individuals and modern businesses look for when selecting an electrical contractor and we make extra efforts to exceed our customers' expectations.
	    Electrician in Warrington, Cheshire and the whole North West">
    <meta name="keywords" content="Warrington Electrician, Cheshire Electrician, North West Electrician, Widnes Electrician, Runcorn Electrician,  Alderley Edge Electrician, Leigh Electrician, Wigan electrician, residential electrician, commercial electrician, electrical contractors, rewire, domestic rewires, burglar alarms, cctv installation, consumer unit, lighting, led lighting, security lighting, driveway lighting, energy saving, North West, Cheshire, Merseyside, Manchester, Warrington, Widnes, Runcorn,  Alderley Edge, Leigh, Wigan ">
    <meta name="author" content="Contra Design">
    {{block "meta" .}}
        <meta property="og:title" content="Quick-Elec - North West Electricians">
        <meta property="og:description" content="With years of experience in revamping residential and commercial properties,
	        QUICK-ELEC are electrical contractors based in Warrington covering a wide range of domestic and commercial electrical services in the North West (covering Warrington, Widnes, Runcorn,  Alderley Edge, Leigh and Wigan), all at very competitive prices.
		    We specialise in domestic rewires as we have fully qualified rewire teams who complete work only to the highest standard.
		    We understand what individuals and modern businesses look for when selecting an electrical contractor and we make extra efforts to exceed our customers' expectations.
	        Electrician in Warrington, Cheshire and the whole North West">
        <meta property="og:image" content="dist/img/fb_og/qe_plans_fb.jpg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="628">
        <meta property="og:url" content="https://quick-elec.com">

        <title>Quick-Elec | Electricians North West</title>
    {{end}}

    <!-- Google Analytics -->
{{/*    <script>*/}}
{{/*        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){*/}}
{{/*            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),*/}}
{{/*            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)*/}}
{{/*        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');*/}}

{{/*        ga('create', 'UA-90635718-1', 'auto');*/}}
{{/*        ga('send', 'pageview');*/}}
{{/*    </script>*/}}

    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/dist/app.css?id=0">
</head>
<body>
    <div>
        <div class="container">
            <nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <h1>Quick-Elec</h1>
                    <h1>North West Electricians</h1>
                    <a class="navbar-item" href="/">
                        <img src="/dist/img/qe_logo.svg" width="130">
                    </a>
                    <h1>07943 707648</h1>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a href="/" class="navbar-item">
                            Home
                        </a>

                        <a href="/about" class="navbar-item">
                            About
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                More
                            </a>

                            <div class="navbar-dropdown">
                                <a href="/domestic" class="navbar-item">
                                    Domestic
                                </a>
                                <a href="/commercial" class="navbar-item">
                                    Commercial
                                </a>
                                <a href="/exterior" class="navbar-item">
                                    Exterior
                                </a>
                                <a href="/testimonials" class="navbar-item">
                                    Testimonials
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a href="/contact" class="button">
                                    <strong>Contact Us</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="app">
                {{template "content" .}}
            </div>
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Quick-Elec. Warrington, Cheshire &amp; North West Electricians. Site by Contra Design</p>
                    <a href="https://www.ratedpeople.com/profile/quick-elec/" target="_blank"><div class="rated"></div></a>
                </div>
            </footer>
        </div>
    </div>
<script src="/dist/app.js?id=0"></script>
</body>
</html>