{{define "content"}}
<div>
    <div class="contact-form">
        <h2 class="title">Contact Us</h2>

        <p><strong>Please complete the form below and we'll get back to you as soon as possible or call us on 07943 707648</strong></p>

        <p><strong>If you have an electrical emergency please call:<br> 07943 707648</strong> we are open 24/7</p>

        <form action="">
            // form here
        </form>
    </div>

</div>
{{end}}
