$family-secondary: poynter-oldstyle-display;
$navbar-item-color: #FFF;
$navbar-item-hover-background-color: rgba(66, 85, 89,.7);
$navbar-dropdown-background-color: rgba(66, 85, 89,.7);

$card-background-color: rgba(0,0,0,0.8);
$card-shadow: 0 0 1px 0 rgb(255,255,255);

$grey: rgb(83, 96, 102);
$white: #FFF;
$sky: rgb(90, 138, 186);
$orange: rgb(249, 182, 17);

$primary: rgb(0,0,51);
$warning: $orange;

$card-header-background-color: rgb(0,0,51);

@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";

.container {
  border: 1px solid rgba($grey, .5);
}

.image {
  border: 4px solid #FFF;
}

.card {
  .image {
    border: none;
  }
}

h1, h2, h3, h4, li {
  font-family: halogen,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

a.navbar-item, a.navbar-link {
  font-size: .7rem;
  font-family: halogen,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

p {
  margin-bottom: 1.2rem;
}

ul {
  margin: 2rem 0;
  li {
    list-style-type: disc;
    list-style-position: inside;
    color: $primary;
  }
}

.navbar-brand {
  h1 {
    display: none;
  }
}

.navbar-item img {
  max-height: 5rem;
}

.navbar-menu {
  @include until($tablet) {
    background-color: $primary;
  }
}

.navbar-dropdown {
  background-color: rgba($primary, .7);
}

.hero-body {
  .box {
    background-color: rgba($sky, .8);
    border: .1em solid $sky;
    width: 25rem;
    height: 20rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    @include until($tablet) {
      width: 100%;
      height: 20rem;
      border: none;
      border-radius: 0;
    }
  }
}

#testimonials {
  p {
    margin-bottom: .7rem;
  }

  p:nth-of-type(1) {
    font-size: 1.2rem;
    font-style: italic;
  }

  p:nth-of-type(3) {
    font-size: .9rem;
    font-weight: bold;
  }
}

#about {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/dist/img/pages/about/bground.jpg') no-repeat top center;
  background-size: cover;
}

#domestic {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/dist/img/pages/domestic/bground.jpg') no-repeat top center;
  background-size: cover;
}

#commercial {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/dist/img/pages/commercial/bground.jpg') no-repeat top center;
  background-size: cover;
}

#exterior {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/dist/img/pages/exterior/bground.jpg') no-repeat top center;
  background-size: cover;
}

#testimonials {
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/dist/img/pages/testimonials/bground.jpg') no-repeat top center;
  background-size: cover;
}

#contact {
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('/dist/img/pages/contact/bground.jpg') no-repeat top center;
  background-size: cover;
  .column {
    background-color: rgba($sky, .8);
    border-radius: 1rem;
    padding: 2rem;
    min-height: 30rem;
  }
}

.footer {
  background-color: $primary;
  color: #FFF;
}