$family-secondary: poynter-oldstyle-display;
$navbar-item-color: #FFF;
$navbar-item-hover-background-color: rgba(66, 85, 89,.7);
$navbar-dropdown-background-color: rgba(66, 85, 89,.7);

$card-background-color: rgba(0,0,0,0.8);
$card-shadow: 0 0 1px 0 rgb(255,255,255);

$primary: rgb(0,0,51);
$grey: rgb(83, 96, 102);
$white: #FFF;
$sky: rgb(90, 138, 186);

@import "~bulma/bulma.sass";
@import "~buefy/src/scss/buefy";

.container {
  border: 1px solid rgba($grey, .5);
}

.navbar-brand {
  h1 {
    display: none;
  }
}

.box {
  background-color: rgba($sky, .8);
  border: .1em solid $sky;
  width: 23rem;
  color: white;
  font-size: 1rem;
  text-align: center;
}




